# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch



# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


*.out
*.app
*.cache

# Unigine
/bin/*
!/bin/resources
/.thumbnails/*
/data/.thumbnails/*
/data/.cache_textures/*
/data/.runtimes/*
/obj/*




